.filter-container,.filter-content, .filter-buttons{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.filter-content{
   
}
.filter-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 0.5rem;
    font-size: 1rem;
    color: #858585;
    font-weight: 600;
    border-bottom-color: #8585858c;
    border-bottom: solid 0.2px;
 }
 .item-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .6rem 0;
 }
 .filter-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right: solid 1px;
}
.space{
    margin-right: .5rem;
}
.space-left{
    margin-left: .7rem;
}
r{
    color:#858585;
    border-right: solid 1px;
}
img {
    width: 8rem;
}
.fas{
    font-size: 2rem;
    color:#858585;
}

.item-content{
    display: flex;
    justify-content: space-between;
 }
 .filter-items{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
