#App {
}
.container{
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.container-left{
  display: flex;
  flex: 0.5;
  flex-direction: column;
}

.container-right{
  display: flex;
  flex: 2;
  flex-direction: column;
}